.design {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-self: center;

}




/*.btn:hover {
        transition-duration: 0.4s;
        background-color: black;
        color: white;
    }*/